bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
# Rider
.idea/
*.sln.iml
# Mac
.DS_Store
# Logs
*.log
# Azure
*.Publish.xml
# User secrets
secrets.json 
appsettings.Development.json
/Properties/PublishProfiles/